* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
nav {
    background: #222;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: cyan;
}

/* Home */
.home {
    height: 90vh;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: white;
    text-align: center;
    padding-top: 150px;
}

.home button {
    padding: 10px 20px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Sections */
section {
    padding: 60px 20px;
    text-align: center;
}

.about, .contact {
    background: #f4f4f4;
}

/* Services */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: #0072ff;
    color: white;
    padding: 30px;
    width: 120px;
    border-radius: 10px;
}

/* Input */
input {
    padding: 10px;
    width: 200px;
}

/* Footer */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}
body {
    background: #0072ff;
    font-family: Arial, sans-serif;
}

.container {
    width: 350px;
    background: white;
    padding: 25px;
    margin: 80px auto;
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background: #0072ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0055cc;
}

#msg {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
}
